In [6]:
import pandas as pd

raw = pd.read_csv("data/unescoPhData.csv")

raw

,Unnamed: 0.1,index,Unnamed: 0,iso_code,region_group,income_group,country,survey,year,level,...,rlevel3_m,rlevel3_no,slevel3_m,slevel3_no,mlevel4_m,mlevel4_no,rlevel4_m,rlevel4_no,slevel4_m,slevel4_no
0,0,42830,42831,PHL,Eastern and South-eastern Asia,Lower middle income,Philippines,DHS,2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,42831,42832,PHL,Eastern and South-eastern Asia,Lower middle income,Philippines,DHS,2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,42832,42833,PHL,Eastern and South-eastern Asia,Lower middle income,Philippines,DHS,2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,42833,42834,PHL,Eastern and South-eastern Asia,Lower middle income,Philippines,DHS,2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,42834,42835,PHL,Eastern and South-eastern Asia,Lower middle income,Philippines,DHS,2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2593,2593,174496,174497,PHL,Eastern and South-eastern Asia,Lower middle income,Philippines,DHS,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2594,2594,174497,174498,PHL,Eastern and South-eastern Asia,Lower middle income,Philippines,DHS,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2595,2595,174498,174499,PHL,Eastern and South-eastern Asia,Lower middle income,Philippines,DHS,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2596,2596,174499,174500,PHL,Eastern and South-eastern Asia,Lower middle income,Philippines,DHS,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2597,2597,174500,174501,PHL,Eastern and South-eastern Asia,Lower middle income,Philippines,DHS,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN